<h1>Контакти</h1>

<%= form_for :contact, url: contacts_path do |f| %>
<p>
	<%= f.label :email %> <br>
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :текст %> <br>
	<%= f.text_area :message %>
</p>

<p>
	<%= f.submit 'Вiдправити повiдомлення' %>
</p>

<% end %>